<% provide(:title, 'About Us') %>

<h1>About Us</h1>
<p>
	Eg er ad laera a Ruby on Rails
	<a href="http://www.facebook.com/gudnipet">Tetta er eg og min sida</a>
	Vonandi svinvirkar tetta.
</p>
